#remove html file extension https://playprofile.net/fuzecraft.html
# to https://playprofile.net
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond &{REQUEST_URI} \.html$
RewriteRule ^(.*)\.html$ /$1 [R=301,L]
