/*
Hey, This is all the backend of the look of Xavia (PlayProfile.net). I hope that it is easy for you to follow and for future me to follow as I really don't know what I am doing lol x

---

Sitemap:
  index.html | Homepage

  projects.html | Projects Page

    project/fuzecraft.html | Fuzecraft Page (Minecraft Server)
      project/fuzecraft/map.html | Fuzecraft Map Redirect (Minecraft Fuzecraft Map)

    project/video-editing.html | Video Editing Service Page

    ~project/discord.html | Information about the Discord Server (Current not it's own page)

    project/blog.html | Blog page

  name/nm[#] | People

  video/vi[#].html | Video Edit Pages

---

People:
  name/nm1.html | Samantha Xavia
    Social Media - YouTube, Twitch, Instagram

  name/nm2.html | Falcon Chapter

  name/nm3.html | Aquavita
    Social Media - YouTube

  name/nm4.html | Bouncball
    Social Media - YouTube, Twitch

  name/nm5.html | Evildragonthe9th
    Social Media - Instagram

  name/nm6.html | Lollipop

  name/nm7.html | TailoredEnd


---

 Roadmap: https://trello.com/b/4OlI20HM/xavia-roadmap

 --- /*

 /* Hyperlinking */
   /* Hyperlink Link Style */
   a:link, a:visited, a:active {
     color: #FF69B4;
     text-decoration: none;
   }

   /* Mouse Hovering over Hyperlink Link Style */
   a:hover {
     color: #1eb1a8;
     text-decoration: none;
   }

/* Bob */
.bob {
  width:10vw;
  height:10vw;
}

/* Smaller Bob */
.bob-small {
  width:3vw;
  height:3vw;
}

/* Sarah */
.sarah {
  width:10vw;
  height:10vw;
}

/* Smaller Sarah */
.sarah-small {
  width:3vw;
  height:3vw;
}

/* Alice */
.alice {
  width:10vw;
  height:10vw;
}

/* Smaller Alice */
.alice-small {
  width:3vw;
  height:3vw;
}

/* Emma */
.emma {
  width:10vw;
  height:10vw;
}

/* Smaller Emma */
.emma-small {
  width:3vw;
  height:3vw;
}

/* project logo */
.project-logo {
  width:10vw;
  height:10vw;
}

/* Smaller Project Logo */
.project-logo-small {
  width:5vw;
  height:5vw;
}

/* Nav */
.nav {
  font-family:monospace;
  font-size:25px;
}

/* Body */
.body-one {
  color:#FFFFFF;
  background-color: #000000;
}

/* text */
.text-one {
  margin: 10px;
  font-family:monospace;
  font-size:12.5pt
}

/* header */
.header {
  text-align: center;
  font-family:monospace;
  font-size:50pt
}

/* subheader */
.subheader {
  margin: 10pt;
  font-family:monospace;
  font-size:15pt
}

/* subheader-two */
.subheader-two {
  margin: 10pt;
  font-family:monospace;
  font-size:20pt
}

/* Header for Name */
.header-name {
  text-align: center;
  font-family:monospace;
  font-size:50pt;
  text-decoration: bold;
  font-size: 100px;
  margin-top: 1%;
  margin-bottom: 2.5%;
}

/* Icon */
.icon {
  width:3.5vw;
  height:3.5vw;
}

/* Social-Media Icons */
.social-icon {
  width:2vw;
  height:2vw;
  margin-left: 0.45%;
  margin-right: 0.45%;
}

/* Image Box */
.image-box {
  position: relative;
  margin-top: 2.5% ;
  margin-bottom: 1% ;
  margin-left: 11.5%;
  margin-right: auto;
  width: 32%;
  height: 18%;
  text-align: center;
  float: left;
}

/* Image Box Two */
.image-box-two {
  position: relative;
  margin-top: 2.5% ;
  margin-bottom: 1% ;
  margin-left: auto;
  margin-right: auto;
  width: 32%;
  height: 18%;
  text-align: center;
  float: center;
}

/* Image Curve */
.image-curve {
  border-radius: 15px;
  width: 100%;
  filter: drop-shadow(15px 10px 2px #111111)
}

/* Image Curve Text */
.image-curve-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:monospace;
  font-size:2.5vw;
  font-weight: bold;
  color: #FFFFFF;
}

/* Video Player */
.video-player {
  border-radius: 15px;
  filter: drop-shadow(15px 10px 2px #111111)
}

/* Profile Image (Name) */
.name-image {
  border-radius: 50%;
  width:15%;
  height:15%;
  margin-left: 0.25%;
  margin-right: 0.25%;
}

/* Name Image Two */
.name-image-two {
  position: center;
  border-radius: 50%;
  width:5%;
  height:5%;
  margin-left: 0.05%;
  margin-right: 0.05%;
  margin-top: 1% ;
  margin-bottom: 0.5% ;
  text-align: center;
  float: ;
  vertical-align: middle;
}

/* Blog Hover Text */
.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.25s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.fuzemap-icon {
  width:3.5vw;
  height:3.5vw;
  filter: invert(100%)
}

/* Fuzemap */
.fuzemap {
  position:absolute;
  width: 100%;
  height: 100%;
  border: 0px;
}

/* Footer */
.footer {
  color: #FF69B4;
  text-decoration: none;
  font-family:monospace;
  font-size:0.75vw;
  text-align: center;
}

/*
PAGE BASIC BOXES
> One = index.html
> Two - fuzecraft.html
> Three - projects.html
> Four - video-editing.html
> Five - blog.html
> Six - video-edit/[#].html
> Seven - name/[#].html
*/
.one, .two, .three, .four, .five, .six, .seven {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: ;
}

/*
PAGE SUB BOXES
> One = index.html
> Two - fuzecraft.html
> Three - projects.html
> Four - video-editing.html
> Five - blog.html
> Six - video-edit/vi[#].html
> Seven - name/nm[#].html
*/
  /* Sub-Boxes of One - index.html  */
  .one > div, .two > div, .three > div, .four > div, .five > div, .six > div, .seven > div {
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 15px;
    background-color: #272727;
  }
