/*
Hey, This is all the backend of the look of Xavia (PlayProfile.net). I hope that it is easy for you to follow and for future me to follow as I really don't know what I am doing lol x
*/


/* Hyperlinking */
  /* Hyperlink Link Style */
  a:link {
    color: hotpink;
    text-decoration: none;
  }

  /* Visited Hyperlink Link Style */
  a:visited {
    color: hotpink;
    text-decoration: none;
  }

  /* Mouse Hovering over Hyperlink Link Style */
  a:hover {
    color: hotpink;
    text-decoration: none;
  }

  /* Current Hyperlink Link Style */
  a:active {
    color: hotpink;
    text-decoration: none;
  }

/* Bob */
.bob {
  width:10vw;
  height:10vw;
}

/* Nav */
.nav {
  font-family:monospace;
  font-size:25px
}

/* Body */
.body-one {
  color:#FFFFFF;
  background-color: #000000;
}

/* text */
.text-one {
  margin: 10px;
  font-family:monospace;
  font-size:12.5pt
}

/* subheader */
.subheader {
  margin: 10pt;
  font-family:monospace;
  font-size:15pt
}

/* subheader-two */
.subheader-two {
  margin: 10pt;
  font-family:monospace;
  font-size:20pt
}

/* Image Curve */
.image-curve {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  width: 20vw;
  height: 10vw;
}

/* One */
.one {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: ;
}
  /* Sub-Boxes of One  */
  .one > div {
    width: 80%;
    height: auto;
    margin: 10%;
    border-radius: 15px;
    background-color: #272727;
  }

/* Two */
.two {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: ;
}
  /* Sub-Boxes of Two  */
  .two > div {
    width: 80%;
    height: auto;
    margin: 10%;
    border-radius: 15px;
    background-color: #272727;
  }

  /* Three */
  .three {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: ;
  }
    /* Sub-Boxes of Three  */
    .three > div {
      width: 80%;
      height: auto;
      margin: 10%;
      border-radius: 15px;
      background-color: #272727;
    }
