/*
Hey, This is all the backend of the look of Xavia (PlayProfile.net). I hope that it is easy for you to follow and for future me to follow as I really don't know what I am doing lol x

---

Sitemap:
  index.html | Homepage
  projects.html | Projects Page
    fuzecraft.html | Fuzecraft Page (Minecraft Server)
      map.html | Fuzecraft Map Redirect (Minecraft Fuzecraft Map)
    video-editing.html | Video Editing Service Page
      ~ video-edit/template.html | Video Edit Pages
    blog.html | Blog page

---

 Roadmap: https://trello.com/b/4OlI20HM/xavia-roadmap

 --- /*

 /* Hyperlinking */
   /* Hyperlink Link Style */
   a:link {
     color: hotpink;
     text-decoration: none;
   }

   /* Visited Hyperlink Link Style */
   a:visited {
     color: hotpink;
     text-decoration: none;
   }

   /* Mouse Hovering over Hyperlink Link Style */
   a:hover {
     color: hotpink;
     text-decoration: none;
   }

   /* Current Hyperlink Link Style */
   a:active {
     color: hotpink;
     text-decoration: none;
   }

/* Bob */
.bob {
  width:10vw;
  height:10vw;
}

/* Nav */
.nav {
  font-family:monospace;
  font-size:25px;
}

/* Body */
.body-one {
  color:#FFFFFF;
  background-color: #000000;
}

/* text */
.text-one {
  margin: 10px;
  font-family:monospace;
  font-size:12.5pt
}

/* header */
.header {
  text-align: center;
  font-family:monospace;
  font-size:50pt
}

/* subheader */
.subheader {
  margin: 10pt;
  font-family:monospace;
  font-size:15pt
}

/* subheader-two */
.subheader-two {
  margin: 10pt;
  font-family:monospace;
  font-size:20pt
}

/* Icon */
.icon {
  width:3.5vw;
  height:3.5vw;
}

/* Image Box */
.image-box {
  position: relative;
  margin-top: 2.5% ;
  margin-bottom: 1% ;
  margin-left: 11.5%;
  margin-right: auto;
  width: 32%;
  height: 18%;
  text-align: center;
  float: left;
}

/* Image Box */
.image-box-two {
  position: relative;
  margin-top: 2.5% ;
  margin-bottom: 1% ;
  margin-left: auto;
  margin-right: auto;
  width: 32%;
  height: 18%;
  text-align: center;
  float: center;
}

/* Image Curve */
.image-curve {
  border-radius: 15px;
  width: 100%;
}

/* Image Curve Text */
.image-curve-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:monospace;
  font-size:2.5vw;
  font-weight: bold;
  color: #FFFFFF;
}

/* Blog Hover Text */
.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.25s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

/* Footer */
.footer {
  color: hotpink;
  text-decoration: none;
  font-family:monospace;
  font-size:0.75vw;
  text-align: center;
}

/* PAGE BOXES */

/* One - index.html */
.one {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: ;
}
  /* Sub-Boxes of One  */
  .one > div {
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 15px;
    background-color: #272727;
  }

/* Two - fuzecraft.html */
.two {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: ;
}
  /* Sub-Boxes of Two  */
  .two > div {
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 15px;
    background-color: #272727;
  }

  /* Three - projects.html */
  .three {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: ;
  }
    /* Sub-Boxes of Three  */
    .three > div {
      width: 80%;
      height: auto;
      margin: auto;
      border-radius: 15px;
      background-color: #272727;
    }

    /* Four - video-edting.html */
    .four {
      display: flex;
      align-items: center;
      width: 100%;
      height: auto;
      background-color: ;
    }
      /* Sub-Boxes of Four  */
      .four > div {
        width: 80%;
        height: auto;
        margin: auto;
        border-radius: 15px;
        background-color: #272727;
      }
